<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link
      rel="stylesheet"
      href="https://minicss.org/flavorFiles/mini-nord.min.css"
    />

    <title>PyJobs - Home</title>
  </head>
  <body>
    <main>
      <h1>
        PyJobs
        <small>The job scraper for the unemployed masses</small>
      </h1>

      <section>
        <form action="/scrapes" method="get">
          <div class="container">
            <div class="row">
              <input
                class="col-sm-9"
                name="query"
                placeholder="Type a tech or programming language"
                required
              />

              <div class="col-sm-2">
                <button>Scrape!</button>
              </div>
            </div>
          </div>
        </form>
      </section>
    </main>
  </body>
</html>
